<!DOCTYPE html>
<html xmlns:th:="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: head">
    <title>Factory</title>
</head>

<body>
    <header th:replace="layout/plantilla :: header"></header>

    <section th:replace="layout/botones :: botonesAgregar"></section>
    <section th:replace="layout/agregarCliente :: agregarCliente"></section>
    <section th:replace="layout/botones :: listaClientes"></section>
    
    <footer th:replace="layout/plantilla :: footer"></footer>
    
</body>

</html>